<html>
  <head>
      <title>Zeynep'in blogu</title>
  </head>
<body>
    <div>
        <h1><a href="/">Zeynep'in blogu</a></h1>
    </div>
    <div>
        <p>published: 26.10.2019, 15:57
        <h2><a href="">ilk blogum</a></h2>
        <p>uzun uzun yazılar</p>
    </div>

    <div>
        <p>published: 26.10.2019, 15:59</p>
        <h2><a href="">ikinci gönderim</a></h2>
        <p>burada da uzun bir şeyler yazıyor</p>
    </div>
    <p>Merhaba!<p>
      <p>Çalışıyor!<p>
   </body>
 </html>
